body {
    background-color: rgb(179, 191, 245);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#parentDiv {
    width: 700px;
    margin: auto;
    display: grid;
    place-items: center;
    border: 1px solid;
    background-color: rgb(235, 240, 255);
    padding: 30px 0;
    border: navajowhite;
    border-radius: 20px;
}


#upperDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid rgb(251, 249, 247);
    border-radius: 10px;
}

#todaysDate {
    color: black;
    font-size: 25px;
    border: none;
    background-color: rgb(235, 240, 255);
}

#dropdownYear {
    background-color: white;
    border-left: none;
    padding-top: 5px;
    cursor: pointer;
}

.calendarIcon{
    cursor: pointer;
}

#childMiddleDiv table {
    width: 100%;
}

.calendarBody {
    border-collapse: separate;
    border-spacing: 15px;
    border-radius: 10px;
}

#upperMiddleDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-weight: 600;
    font-size: 25px;
}

#upperMiddleDiv button {
    border: none;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    font-weight: 600;
    font-size: 20px;
}

tr td {
    border: 1px solid;
    padding: 15px;
}

#childMiddleDiv td.date,
#childMiddleDiv td.otherMonth {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(103, 86, 69, 0.326);
    padding: 20px;
}

#childMiddleDiv td.currentDate {
    background-color: rgba(0, 0, 128, 0.522);
    color: black;
    border-radius: 100%;
}

#childMiddleDiv td.otherMonth {
    background-color: rgba(184, 179, 174, 0.134);
    color: rgb(84, 69, 69);
}

#selectYear {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    font-size: 15px;
    width: 60px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}